{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cos-tard 인스타그램 인플루언서 추천 시스템</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/templates/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/templates/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/templates/assets/css/style.css">
    <link rel="stylesheet" href="../../static/templates/assets/css/style2.css">
    <!-- End layout styles -->
    <link rel="icon" href="{% static 'assets/homepage_icon.jpg' %}" />
    <script src="../../static/templates/assets/js/chart.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="{% url 'home-page' %}">Cos-tard</a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'home-page' %}"><img src="{% static 'assets/homepage_icon.jpg' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right ">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="../../static/templates/assets/images/faces/face1.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">David Greymaax</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached me-2 text-success"></i> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-email-outline"></i>
                <span class="count-symbol bg-warning"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../static/templates/assets/images/faces/face4.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                    <p class="text-gray mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../static/templates/assets/images/faces/face2.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                    <p class="text-gray mb-0"> 15 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../static/templates/assets/images/faces/face3.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                    <p class="text-gray mb-0"> 18 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">4 new messages</h6>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                    <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                    <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-link-variant"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                    <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">See all notifications</h6>
              </div>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile" style="padding-top: 10px; padding-bottom: 10px;">
              <div class="nav-profile-text d-flex flex-column">
                <h4>Recommend Options</h4>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <span class="menu-title">Price for Campaign</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse show" id="price_group">
                <ul class="nav flex-column sub-menu">
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="price_rad" value="0">
                      <div class="rad-design"></div>
                      <div class="rad-text">High</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="price_rad" value="1">
                      <div class="rad-design"></div>
                      <div class="rad-text">Low</div>
                  </label>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <span class="menu-title">Marketing Purpose</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse show" id="marketing_group">
                <ul class="nav flex-column sub-menu">
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="marketing_rad" value="0">
                      <div class="rad-design"></div>
                      <div class="rad-text">For Sale</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="marketing_rad" value="1">
                      <div class="rad-design"></div>
                      <div class="rad-text">For Viral</div>
                  </label>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <span class="menu-title">Model Image</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse show" id="model_group">
                <ul class="nav flex-column sub-menu">
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="model_rad" value="1">
                      <div class="rad-design"></div>
                      <div class="rad-text">Cute</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="model_rad" value="2">
                      <div class="rad-design"></div>
                      <div class="rad-text">Pure</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="model_rad" value="3">
                      <div class="rad-design"></div>
                      <div class="rad-text">Gorgeous</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="model_rad" value="4">
                      <div class="rad-design"></div>
                      <div class="rad-text">Chill</div>
                  </label>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <span class="menu-title">Our Brand Product</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse show" id="product_group">
                <ul class="nav flex-column sub-menu">
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="product_rad" value="1">
                      <div class="rad-design"></div>
                      <div class="rad-text">skin care</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="product_rad" value="2">
                      <div class="rad-design"></div>
                      <div class="rad-text">Tools</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="product_rad" value="3">
                      <div class="rad-design"></div>
                      <div class="rad-text">colors</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="product_rad" value="4">
                      <div class="rad-design"></div>
                      <div class="rad-text">body care</div>
                  </label>
                </ul>
              </div>
            </li>
            <li class="nav-item sidebar-actions">
              <button id="btn_recommend" type="button" class="btn btn-block btn-lg btn-gradient-danger">recommend</button>
            </li>
          </ul>
        </div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h1 class="page-title"> Recommend System </h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recommends Result </h4>
                      <p class="card-description" style="text-align: center;" id="result"> Nothing now Here </p>
                      <table id="score-table" class="table table-hover" style="display: none;">
                          <thead>
                              <tr>
                                  <th style="text-align: center;">Profile</th>
                                  <th style="text-align: center;">Username</th>
                                  <th style="text-align: center;">Matching</th>
                              </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                  </div>
                </div>
              </div>
              <div class="page-header">
                <h3 class="page-title"><i class="mdi mdi-account-check"></i>  Recommendation Details </h3>
              </div>
              <div class="col-lg-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Score distribution</h4>
                    <p class="card-description"> *5점 만점 </p>
                    <p id="result1" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="ChartContainer">
                      <canvas id="radarChart" style="height:230px; display: none;"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Top Influencer</h4>
                    <p class="card-description"> Score description </p>
                    <p id="result2" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="profile" class="card-img-top" style="display: flex; justify-content: center; margin-bottom: 20px;">
                    </div>
                    <div id="profilename" style="text-align: center;">
                    </div>
                    <div id="description" style="margin: 20px;">
                    </div>
                    <div id="linkbutton" class="card-img-bottom" style="display: flex; justify-content: center; margin-bottom: 20px;">
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Followers</h4>
                    <p class="card-description"> *단위 : 만명</p>
                    <p id="result3" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="ChartContainer">
                      <canvas id="fbarChart" style="display: none;" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Engagement</h4>
                    <p class="card-description">사용자와 게시물 간의 상호작용 수준을 나타내는 지표</p>
                    <p id="result4" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="ChartContainer">
                      <canvas id="ebarChart" style="display: none;" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Model Matching</h4>
                    <p class="card-description">해당 인플루언서는 이러한 이미지예요:</p>
                    <p id="result5" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="ChartContainer">
                      <canvas style="display: none;" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Product Matching</h4>
                    <p class="card-description">해당 인플루언서는 이러한 제품과 협업했어요:</p>
                    <p id="result6" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="ChartContainer">
                      <canvas style="display: none;" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../static/templates/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../static/templates/assets/js/off-canvas.js"></script>
    <script src="../../static/templates/assets/js/hoverable-collapse.js"></script>
    <script src="../../static/templates/assets/js/misc.js"></script>
    <script src="../../static/templates/assets/js/chart.js?ver=123"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <style>
    .sidebar .card-body{
      padding: 20px;
    }

    .sidebar .btn.btn-fw{
      min-width: 80px;;
      width:80px !important;
      padding: 10px;
      height:50px;
      font-size: 14px;
    }

    .sidebar-btn-active{
      background-color:#fe7c96;
      color:#fff;
    }
    </style>
    <!-- ajax query -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script>
      function scaleArray(dataArray, newMin, newMax) {
        let minValue = Math.min(...dataArray);
        let maxValue = Math.max(...dataArray);
        
        let scaledArray = [];
        for (let value of dataArray) {
            let scaledValue = (value - minValue) / (maxValue - minValue) * (newMax - newMin) + newMin;
            scaledArray.push(scaledValue);
        }
        
        return scaledArray;
      }

      function printMessage(score) {
        if (score >= 5) {
            message = '유튜브를 통해서도 영향력 있는 메이크업 컨텐츠를 제공하고 있어요.';
        } else if (score >= 2.5) {
            message = '유튜브를 통해서도 메이크업 컨텐츠를 제공하고 있어요.';
        } else {
            message = '뷰티 관련 피드로 활발히 활동중이에요.';
        }
        return message
      }

      $(document).ready(function() {
        $('#btn_recommend').click(function(){
          console.log('clicked');
          var price_value = $("input[name='price_rad']:checked").val();
          var market_value = $("input[name='marketing_rad']:checked").val();
          var model_value = $("input[name='model_rad']:checked").val();
          var product_value = $("input[name='product_rad']:checked").val();

          console.log(model_value);

          $.ajax({
            url: '/recommend/recommend_values',  // 백엔드의 URL을 지정
            method: 'POST',  // POST 요청으로 데이터 전송
            data: {
                price: price_value,
                market: market_value,
                model: model_value,
                product: product_value
            },
            beforeSend : function(){
              console.log(window);
              var left = innerWidth/2-50;
              var top = innerHeight/2-30;
              var mainPanelHeight = $('.main-panel').css('height');
              console.log(mainPanelHeight);
              $('.main-panel').append('<div id="blur_panel" style="width:100%;height:'+mainPanelHeight+';position:absolute;z-index:999;background-color:black;opacity: 0.5;"></div>');
              $('.main-panel').append('<img id="img_progress" src="../static/assets/loading-gif.gif" style="width:100px;position:absolute;left:'+left+'px;top:'+top+'px;z-index:9999;" />');
            },
            complete:function(){
              $('#img_progress').remove();
              $('#blur_panel').remove();
            },
            success: function(response) {
                $('#result').empty()
                var dataTable = $('#score-table');
                var topInfluencers = response.top_influencers;

                var str = "";
                $.each(topInfluencers, function(i, influencer) {
                    str += '<tr>';
                    str += '<td class="py-1"><img src=../../static/assets/' + influencer.Username + '.jpg/></td>';
                    str += '<td>' + influencer.Username + '</td><td>' + influencer.Score + '</td>';
                    str += '</tr>';
                });
                $('#score-table tbody').append(str); // tbody에 데이터 추가
                $('#score-table').show();
              
                console.log(response.chartdata)
                var chartData = response.chartdata
                console.log(chartData.name)

                var names = chartData.name; 
                var followers = chartData.follower;
                var engage = chartData.engage;
                var expert = chartData.expert;
                var image = chartData.image;

                console.log(names)
                console.log(followers)
                console.log(followers[1])

                $('#result1').empty()
                $('#result2').empty()
                $('#result3').empty()
                $('#result4').empty()
                $('#profile').append('<img class="img-lg rounded-circle" src=../../static/assets/'+names[0]+'.jpg/>');
                $('#profile').show();
                $('#profilename').append('<span class="font-weight-bold">@'+ names[0] + '</span>');
                var des = '<p> 이 인플루언서는 현재 ' + followers[0] + '명의 팔로워를 보유하고 있고, ' + printMessage(expert[0]) + '인플루언서의 피드 평균 참여율은 ' +
                engage[0]+'%이고, 이 수치가 높을수록 인플루언서와 팔로워 간 상호작용의 정도가 커 광고 피드에 대해 팔로워들이 적극적으로 살펴볼 확률이 높아져요.</p><p>이 인플루언서는 제공해주신 키워드와 연관된 댓글을 가장 많이 얻었어요.</p><p>이 인플루언서는 제공해주신 키워드와 연관된 제품을 과거에 홍보했거나, 평소 애용하여 컨텐츠에 자주 노출한 바 있어요.</p><p>이 인플루언서에 대한 자세한 분석을 보고 싶다면, 아래 버튼을 눌러 분석 페이지로 이동할 수 있어요.</p>';
                $('#profilename').show();
                $('#description').append(des);
                $('#description').show(des);
                $('#linkbutton').append('<button id="analysisLink" type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Go to Analysis</button>');
                document.getElementById("analysisLink").addEventListener("click", function() {
                  window.location.href = "recommend_error"; 
                });
                $('#linkbutton').show();


                var scaledFollower = scaleArray(followers, 1, 5)

                var radardata ={
                  labels: ['followers', 'engagement', 'Expertised', 'Image matching', 'Product matching'],
                  datasets: [{
                    label: names[0],
                    data: [scaledFollower[0], engage[0], expert[0], image[0], 0],
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                  }, {
                    label: names[1],
                    data: [scaledFollower[1], engage[1], expert[1], image[1], 0],
                    fill: true,
                    backgroundColor: 'rgba(182, 109, 255, 0.2)',
                    borderColor: 'rgba(182, 109, 255, 1)',
                    borderWidth: 1
                  }, {
                    label: names[2],
                    data: [scaledFollower[2], engage[2], expert[2], image[2], 0],
                    fill: true,
                    backgroundColor: 'rgba(107, 166, 255, 0.2)',
                    borderColor: 'rgba(107, 166, 255, 1)',
                    borderWidth: 1
                  }, {
                    label: names[3],
                    data: [scaledFollower[3], engage[3], expert[3], image[3], 0],
                    fill: true,
                    backgroundColor: 'rgba(92, 255, 211, 0.2)',
                    borderColor: 'rgba(92, 255, 211, 1)',
                    borderWidth: 1
                  }, {
                    label: names[4],
                    data: [scaledFollower[4], engage[4], expert[4], image[4], 0],
                    fill: true,
                    backgroundColor: 'rgba(244, 141, 103, 0.2)',
                    borderColor: 'rgba(244, 141, 103, 1)',
                    borderWidth: 1
                  }] //end of dataset
                }; //end of radardata
                
                var ctx = document.getElementById('radarChart');
                var radarChart = new Chart(ctx, {
                  type:'radar',
                  data: radardata,
                  options: {
                    scales: {
                      r: {
                        max:5,
                        min:0,
                        ticks: {
                          stepSize:1
                        }
                      }
                    }
                  }
                }); //end of radarChart
                $('#radarChart').show();

                var fbarChart = new Chart(
                  document.getElementById('fbarChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Number of Followers'],
                      datasets: [{
                        label: names[0],
                        data: [followers[0]],
                        fill: true,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        borderWidth: 1
                      }, {
                        label: names[1],
                        data: [followers[1]],
                        fill: true,
                        backgroundColor: 'rgba(182, 109, 255, 0.2)',
                        borderColor: 'rgba(182, 109, 255, 1)',
                        borderWidth: 1
                      }, {
                        label: names[2],
                        data: [followers[2]],
                        fill: true,
                        backgroundColor: 'rgba(107, 166, 255, 0.2)',
                        borderColor: 'rgba(107, 166, 255, 1)',
                        borderWidth: 1
                      }, {
                        label: names[3],
                        data: [followers[3]],
                        fill: true,
                        backgroundColor: 'rgba(92, 255, 211, 0.2)',
                        borderColor: 'rgba(92, 255, 211, 1)',
                        borderWidth: 1
                      }, {
                        label: names[4],
                        data: [followers[4]],
                        fill: true,
                        backgroundColor: 'rgba(244, 141, 103, 0.2)',
                        borderColor: 'rgba(244, 141, 103, 1)',
                        borderWidth: 1
                      }] //end of dataset
                    }, //end of data
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }, //end of options
                  }
                );
                $('#fbarChart').show();
                
                var ebarChart = new Chart(
                  document.getElementById('ebarChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Engagement'],
                      datasets: [{
                        label: names[0],
                        data: [engage[0]],
                        fill: true,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        borderWidth: 1
                      }, {
                        label: names[1],
                        data: [engage[1]],
                        fill: true,
                        backgroundColor: 'rgba(182, 109, 255, 0.2)',
                        borderColor: 'rgba(182, 109, 255, 1)',
                        borderWidth: 1
                      }, {
                        label: names[2],
                        data: [engage[2]],
                        fill: true,
                        backgroundColor: 'rgba(107, 166, 255, 0.2)',
                        borderColor: 'rgba(107, 166, 255, 1)',
                        borderWidth: 1
                      }, {
                        label: names[3],
                        data: [engage[3]],
                        fill: true,
                        backgroundColor: 'rgba(92, 255, 211, 0.2)',
                        borderColor: 'rgba(92, 255, 211, 1)',
                        borderWidth: 1
                      }, {
                        label: names[4],
                        data: [engage[4]],
                        fill: true,
                        backgroundColor: 'rgba(244, 141, 103, 0.2)',
                        borderColor: 'rgba(244, 141, 103, 1)',
                        borderWidth: 1
                      }] //end of dataset
                    }, //end of data
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }, //end of options
                  }
                );
                $('#ebarChart').show();             
            },
            error: function(error) {
                console.error(error);
            }         
          }); //ajax
        }); //btn click
      }); //document ready
    </script>
  </body>
</html>
