{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cos-tard 인스타그램 인플루언서 추천 시스템</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/templates/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/templates/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/templates/assets/css/style.css">
    <link rel="stylesheet" href="../../static/templates/assets/css/style2.css">
    <!-- End layout styles -->
    <link rel="icon" href="{% static 'assets/homepage_icon.jpg' %}" />
    <script src="../../static/templates/assets/js/chart.js"></script>
    <!-- font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Ubuntu&display=swap" rel="stylesheet">
    <style>
      .instagramCircle1 {
        width: 100px;
        height: 100px;
        border: 3px solid transparent;
        border-radius: 50%;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-size: cover;
        background-position: center;
        padding: 1px;
      }
      .profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        padding: 4px;
        background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
      }
    
      .profile-pic img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #fff;
      }

    .sidebar .nav .nav-item .nav-link{
      padding-top:10px;
      padding-bottom:10px;
    }

    .nav.sub-menu{
      margin-bottom:0px !important;
    }

    .rad-label{
      padding-top:4px;
      padding-bottom:4px;
    }

    #btn_recommend{
      float: left;
      width: 120px;
      text-align: center;
      padding: 0;
      height: 40px;
    }

    #btn_reset{
      float: right;
      width: 60px;
      padding: 0;
      height: 40px;
    }

      ::-webkit-scrollbar {
        display: none;
      }
    </style>

    <script src="{% static 'js/scripts.js' %}"></script>
  </head>
  <body>
    <div class="flex-shrink-0">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #f1f3f5; height: 56px;">
        <div class="container px-5" style="height: 40px">
            <a class="navbar-brand fw-bolder text-black nav-text-ani" href="{% url 'home-page' %}">Cos-tard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link fw-bold text-black nav-text-ani" href="{% url 'home-page' %}">메인</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold text-black nav-text-ani" href="{% url 'InfluencerList:list-page' %}">리스트</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold text-black nav-text-ani" href="{% url 'analysis:analysis-page2' %}?ig_id=17157849559">분석</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold text-black nav-text-ani" href="{% url 'recommend:recommend-page' %}">추천</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold text-black nav-text-ani" href="{% url 'about-page' %}">팀소개</a></li>
                </ul>
            </div>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile" style="padding-top: 20px; padding-bottom: 10px;">
              <div class="nav-profile-text d-flex flex-column">
                <h4>Recommend Options</h4>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <span class="menu-title">Price for Campaign</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse show" id="price_group">
                <ul class="nav flex-column sub-menu">
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="price_rad" value="0">
                      <div class="rad-design"></div>
                      <div class="rad-text">High</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="price_rad" value="1">
                      <div class="rad-design"></div>
                      <div class="rad-text">Low</div>
                  </label>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <span class="menu-title">Marketing Purpose</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse show" id="marketing_group">
                <ul class="nav flex-column sub-menu">
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="marketing_rad" value="0">
                      <div class="rad-design"></div>
                      <div class="rad-text">For Sale</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="marketing_rad" value="1">
                      <div class="rad-design"></div>
                      <div class="rad-text">For Viral</div>
                  </label>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <span class="menu-title">Model Image</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse show" id="model_group">
                <ul class="nav flex-column sub-menu">
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="model_rad" value="1">
                      <div class="rad-design"></div>
                      <div class="rad-text">Cute</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="model_rad" value="2">
                      <div class="rad-design"></div>
                      <div class="rad-text">Pure</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="model_rad" value="3">
                      <div class="rad-design"></div>
                      <div class="rad-text">Gorgeous</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="model_rad" value="4">
                      <div class="rad-design"></div>
                      <div class="rad-text">Chill</div>
                  </label>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <span class="menu-title">Our Brand Product</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse show" id="product_group">
                <ul class="nav flex-column sub-menu">
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="product_rad" value="1">
                      <div class="rad-design"></div>
                      <div class="rad-text">skin care</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="product_rad" value="2">
                      <div class="rad-design"></div>
                      <div class="rad-text">Tools</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="product_rad" value="3">
                      <div class="rad-design"></div>
                      <div class="rad-text">colors</div>
                  </label>
                  <label class="rad-label">
                      <input type="radio" class="rad-input" name="product_rad" value="4">
                      <div class="rad-design"></div>
                      <div class="rad-text">body care</div>
                  </label>
                </ul>
              </div>
            </li>
            <li class="nav-item sidebar-actions">
              <button id="btn_recommend" type="button" class="btn btn-block btn-lg btn-gradient-danger">recommend</button>
              <button id="btn_reset" type="button"class="btn btn-block btn-lg btn-gradient-danger" ><i class="bi bi-arrow-clockwise"></i></button>
            </li>
          </ul>
        </div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h1 class="page-title"> Recommend System </h1>

            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recommends Result </h4>
                      <p class="card-description" style="text-align: center;" id="result"> Nothing now Here </p>
                      
                        <div class="my-3 align-items-center" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                          <div id="result">                            
                            <div id="score-list" style="display: none;">
                              <div></div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-header">
                <h3 class="page-title"><i class="mdi mdi-account-check"></i>  Recommendation Details </h3>
              </div>
              <div class="col-lg-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Score distribution</h4>
                    <p class="card-description"> *5점 만점 </p>
                    <p id="result1" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="radarContainer">
                      <canvas id="radarChart" style="height:230px; display: none;"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Top Influencer</h4>
                    <p class="card-description"> Score description </p>
                    <p id="result2" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="profile" class="card-img-top" style="display: flex; justify-content: center; margin-bottom: 20px;">
                    </div>
                    <div id="profilename" style="text-align: center;">
                    </div>
                    <div id="description" style="margin: 20px;">
                    </div>
                    <div id="linkbutton" class="card-img-bottom" style="display: flex; justify-content: center; margin-bottom: 20px;">
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Followers</h4>
                    <p class="card-description"> *단위 : 만명</p>
                    <p id="result3" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="fbarContainer">
                      <canvas id="fbarChart" style="display: none;" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Engagement</h4>
                    <p class="card-description">사용자와 게시물 간의 상호작용 수준을 나타내는 지표</p>
                    <p id="result4" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="ebarContainer">
                      <canvas id="ebarChart" style="display: none;" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Model Matching</h4>
                    <p class="card-description">해당 인플루언서는 이러한 이미지예요:</p>
                    <p id="result5" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                    <div id="ChartContainer">
                      <canvas style="display: none;" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Product Matching</h4>
                    <p class="card-description">해당 인플루언서는 이러한 제품과 협업했어요:</p>
                    {% comment %} <p id="result6" class="card-text text-muted" style="text-align: center;">Nothing now Here</p> {% endcomment %}
                    <ul class="list-ticked" id="brand-list">
                      <p id="result6" class="card-text text-muted" style="text-align: center;">Nothing now Here</p>
                      <!-- The brand list will be inserted here -->
                    </ul>
                      <canvas style="display: none;" style="height:230px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- content-wrapper ends -->
          {% comment %} <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright &copy; Cos-tard</span>
            </div>
          </footer>
          <!-- partial --> {% endcomment %}
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- 위로가는버튼 -->
      <div class="move_to_top_btn">
        <a href="#"><i class="bi bi-caret-up-fill"></i></a>
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../static/templates/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../static/templates/assets/js/off-canvas.js"></script>
    <script src="../../static/templates/assets/js/hoverable-collapse.js"></script>
    <script src="../../static/templates/assets/js/misc.js"></script>
    <script src="../../static/templates/assets/js/chart.js?ver=123"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <style>
    .sidebar .card-body{
      padding: 20px;
    }

    .sidebar .btn.btn-fw{
      min-width: 80px;;
      width:80px !important;
      padding: 10px;
      height:50px;
      font-size: 14px;
    }

    .sidebar-btn-active{
      background-color:#fe7c96;
      color:#fff;
    }

    .main-panel{
      overflow-y:scroll;
    }
    .container-fluid{
      overflow-y:hidden;
    }

    ::-webkit-scrollbar{
      display:none;
    }
    </style>
    <!-- ajax query -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script>
      function scaleArray(dataArray, newMin, newMax) {
        let minValue = Math.min(...dataArray);
        let maxValue = Math.max(...dataArray);
        
        let scaledArray = [];
        for (let value of dataArray) {
            let scaledValue = (value - minValue) / (maxValue - minValue) * (newMax - newMin) + newMin;
            scaledArray.push(scaledValue);
        }
        
        return scaledArray;
      }

      function printMessage(score) {
        if (score >= 5) {
            message = '유튜브를 통해서도 영향력 있는 메이크업 컨텐츠를 제공하고 있어요.';
        } else if (score >= 2.5) {
            message = '유튜브를 통해서도 메이크업 컨텐츠를 제공하고 있어요.';
        } else {
            message = '뷰티 관련 피드로 활발히 활동중이에요.';
        }
        return message
      }

      $(document).ready(function() {

        var mainDivHeight = window.innerHeight-57;
        $('.main-panel').css('height',mainDivHeight+'px');
        $('.container-fluid.page-body-wrapper').css('height',mainDivHeight+'px');

        $('#btn_reset').click(function() {
          // 모든 라디오 버튼의 선택 상태 초기화
          $("input[type='radio']").prop('checked', false);
      });

        $('#btn_recommend').click(function(){
          console.log('clicked');
          var price_value = $("input[name='price_rad']:checked").val();
          var market_value = $("input[name='marketing_rad']:checked").val();
          var model_value = $("input[name='model_rad']:checked").val();
          var product_value = $("input[name='product_rad']:checked").val();


          console.log(model_value);
          if (!price_value || !market_value || !model_value || !product_value) {
            alert('버튼을 선택해주세요');
            return; // 아래 코드 실행을 막기 위해 리턴
        }
          $('#score-list div').empty();
          $('#profile').empty();
          $('#description').empty();
          $('#linkbutton').empty();
          $('#fbarContainer,#ebarContainer,#radarContainer').empty();
          $('#fbarContainer').append('<canvas id="fbarChart"></canvas>');
          $('#ebarContainer').append('<canvas id="ebarChart"></canvas>');
          $('#radarContainer').append('<canvas id="radarChart"></canvas>');
          $.ajax({
            url: '/recommend/recommend_values',  // 백엔드의 URL을 지정
            method: 'POST',  // POST 요청으로 데이터 전송
            data: {
                price: price_value,
                market: market_value,
                model: model_value,
                product: product_value
            },
            beforeSend : function(){
              console.log(window);
              var left = innerWidth/2-50;
              var top = innerHeight/2-30;
              var mainPanelHeight = $('.main-panel').css('height');
              console.log(mainPanelHeight);
              $('.main-panel').append('<div id="blur_panel" style="width:100%;height:'+mainPanelHeight+';position:absolute;z-index:999;background-color:black;opacity: 0.5;"></div>');
              $('.main-panel').append('<img id="img_progress" src="../static/assets/bouncy_balls.gif" style="width:100px;position:absolute;left:'+left+'px;top:'+top+'px;z-index:9999;" />');
            },
            complete:function(){
              $('#img_progress').remove();
              $('#blur_panel').remove();
            },
            success: function(response) {
              $('#result').empty();

              var topInfluencers = response.top_influencers;
              
              var str = '<div class="my-3 align-items-center" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;"></div>'; // Container for the list
              $('#score-list div').append(str); // tbody에 데이터 추가

              console.log(topInfluencers);

              $.each(topInfluencers, function(i, influencer) {
                var width = 160;
                var height= 200;
                if(i==0){
                  width = 200;
                  height= 240;
                }else if(i<3){
                  width = 180;
                  height= 220;
                }
                str = '<div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: '+width+'px; height: '+height+'px; justify-content: center; align-items: center; display: flex; flex-direction: column;">';
                str += '<div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;"><div class="fw-bolder pb-2">TOP'+(i+1)+'</div>';
                str += '<div class="profile-pic"><img src=../../static/assets/' + influencer.Username + '.jpg/></div>';
                //str += '<div class="instagramCircle1" style="background-image: url(\'/static/assets/' + influencer.Username + '.jpg\'),linear-gradient(to right, red, orange);"></div>';
                str += '<div class="fw-bolder pt-3" style="font-size: 16px;">'+ influencer.Username +'</div>';
                str += '<div class="fw-bolder pt-3" style="font-size: 15px;">'+  influencer.Score.toFixed(1) +'<span>%</span></div>';
                str += '</div>';
                if(i%2==1){
                  $('#score-list .my-3').prepend(str);
                }else{
                  $('#score-list .my-3').append(str);
                }
                
              });
              $('#profilename').empty();

              $('#score-list').css('display', 'block'); // score-table을 보이게 한다.
              
              
              
                console.log(response.chartdata)
                var chartData = response.chartdata
                console.log(chartData.name)

                var names = chartData.name; 
                var followers = chartData.followersnum;
                var engage = chartData.engage;
                var expert = scaleArray(chartData.expert,0,5);
                var image = scaleArray(chartData.image,0,5);
                var impact = scaleArray(chartData.impact,0,5);
                var effect = scaleArray(chartData.effect,0,5);
                var loyalty = scaleArray(chartData.loyalty,0,5);
                var top_ig_id = response.top_ig_id;

                console.log(names)
                console.log(followers)
                console.log(followers[1])
                console.log(impact)
                console.log(effect)
                console.log(expert)
                console.log(image)
                console.log(loyalty)

                $('#result1').empty()
                $('#result2').empty()
                $('#result3').empty()
                $('#result4').empty()
                $('#profile').append('<img class="img-lg rounded-circle" src=../../static/assets/'+names[0]+'.jpg/>');
                $('#profile').show();
                
                $('#profilename').append('<span class="font-weight-bold">@'+ names[0] + '</span>');
                var des = '<p> 이 인플루언서는 현재 ' + followers[0] + '명의 팔로워를 보유하고 있고, ' + printMessage(expert[0]) + '인플루언서의 피드 평균 참여율은 ' +
                engage[0]+'%이고, 이 수치가 높을수록 인플루언서와 팔로워 간 상호작용의 정도가 커 광고 피드에 대해 팔로워들이 적극적으로 살펴볼 확률이 높아져요.</p><p>이 인플루언서는 제공해주신 키워드와 연관된 댓글을 가장 많이 얻었어요.</p><p>이 인플루언서는 제공해주신 키워드와 연관된 제품을 과거에 홍보했거나, 평소 애용하여 컨텐츠에 자주 노출한 바 있어요.</p><p>이 인플루언서에 대한 자세한 분석을 보고 싶다면, 아래 버튼을 눌러 분석 페이지로 이동할 수 있어요.</p>';
                $('#profilename').show();
                $('#description').append(des);
                $('#description').show(des);
                $('#linkbutton').append('<button id="analysisLink" type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Go to Analysis</button>');
                document.getElementById("analysisLink").addEventListener("click", function() {
                  var url = "{% url 'analysis:analysis-page2' %}?ig_id=" + top_ig_id;
                  window.location.href = url;
                });
                $('#linkbutton').show();


                var scaledFollower = scaleArray(followers, 1, 5);
                              
                

                var radardata ={
                  labels: ['Impact', 'Effect', 'Expertised', 'Image matching', 'Loyalty'],
                  datasets: [{
                    label: names[0],
                    data: [impact[0], effect[0], expert[0], image[0], loyalty[0]],
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                  }, {
                    label: names[1],
                    data: [impact[1], effect[1], expert[1], image[1], loyalty[1]],
                    fill: true,
                    backgroundColor: 'rgba(182, 109, 255, 0.2)',
                    borderColor: 'rgba(182, 109, 255, 1)',
                    borderWidth: 1
                  }, {
                    label: names[2],
                    data: [impact[2], effect[2], expert[2], image[2], loyalty[2]],
                    fill: true,
                    backgroundColor: 'rgba(107, 166, 255, 0.2)',
                    borderColor: 'rgba(107, 166, 255, 1)',
                    borderWidth: 1
                  }, {
                    label: names[3],
                    data: [impact[3], effect[3], expert[3], image[3], loyalty[3]],
                    fill: true,
                    backgroundColor: 'rgba(92, 255, 211, 0.2)',
                    borderColor: 'rgba(92, 255, 211, 1)',
                    borderWidth: 1
                  }, {
                    label: names[4],
                    data: [impact[4], effect[4], expert[4], image[4], loyalty[4]],
                    fill: true,
                    backgroundColor: 'rgba(244, 141, 103, 0.2)',
                    borderColor: 'rgba(244, 141, 103, 1)',
                    borderWidth: 1
                  }] //end of dataset
                }; //end of radardata
                
                var ctx = document.getElementById('radarChart');
                var radarChart = new Chart(ctx, {
                  type:'radar',
                  data: radardata,
                  options: {
                    scales: {
                      r: {
                        max:5,
                        min:0,
                        ticks: {
                          stepSize:1
                        }
                      }
                    }
                  }
                }); //end of radarChart
                $('#radarChart').show();

                var fbarChart = new Chart(
                  document.getElementById('fbarChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Number of Followers'],
                      datasets: [{
                        label: names[0],
                        data: [followers[0]],
                        fill: true,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        borderWidth: 1
                      }, {
                        label: names[1],
                        data: [followers[1]],
                        fill: true,
                        backgroundColor: 'rgba(182, 109, 255, 0.2)',
                        borderColor: 'rgba(182, 109, 255, 1)',
                        borderWidth: 1
                      }, {
                        label: names[2],
                        data: [followers[2]],
                        fill: true,
                        backgroundColor: 'rgba(107, 166, 255, 0.2)',
                        borderColor: 'rgba(107, 166, 255, 1)',
                        borderWidth: 1
                      }, {
                        label: names[3],
                        data: [followers[3]],
                        fill: true,
                        backgroundColor: 'rgba(92, 255, 211, 0.2)',
                        borderColor: 'rgba(92, 255, 211, 1)',
                        borderWidth: 1
                      }, {
                        label: names[4],
                        data: [followers[4]],
                        fill: true,
                        backgroundColor: 'rgba(244, 141, 103, 0.2)',
                        borderColor: 'rgba(244, 141, 103, 1)',
                        borderWidth: 1
                      }] //end of dataset
                    }, //end of data
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }, //end of options
                  }
                );
                $('#fbarChart').show();
                
                var ebarChart = new Chart(
                  document.getElementById('ebarChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Engagement'],
                      datasets: [{
                        label: names[0],
                        data: [engage[0]],
                        fill: true,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        borderWidth: 1
                      }, {
                        label: names[1],
                        data: [engage[1]],
                        fill: true,
                        backgroundColor: 'rgba(182, 109, 255, 0.2)',
                        borderColor: 'rgba(182, 109, 255, 1)',
                        borderWidth: 1
                      }, {
                        label: names[2],
                        data: [engage[2]],
                        fill: true,
                        backgroundColor: 'rgba(107, 166, 255, 0.2)',
                        borderColor: 'rgba(107, 166, 255, 1)',
                        borderWidth: 1
                      }, {
                        label: names[3],
                        data: [engage[3]],
                        fill: true,
                        backgroundColor: 'rgba(92, 255, 211, 0.2)',
                        borderColor: 'rgba(92, 255, 211, 1)',
                        borderWidth: 1
                      }, {
                        label: names[4],
                        data: [engage[4]],
                        fill: true,
                        backgroundColor: 'rgba(244, 141, 103, 0.2)',
                        borderColor: 'rgba(244, 141, 103, 1)',
                        borderWidth: 1
                      }] //end of dataset
                    }, //end of data
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }, //end of options
                  }
                );
                $('#ebarChart').show();  

                //brandlist
                var brandList = response.brandlist;
                var brandListHtml = '';
                
                if (brandList.length > 0) {
                    for (var i = 0; i < brandList.length; i++) {
                        brandListHtml += '<li>' + brandList[i] + '</li>';
                    }
                } else {
                    brandListHtml = '<li>No brand data available.</li>';
                }
                
                $('#brand-list').html(brandListHtml);
                
                
            
            },
            error: function(error) {
                console.error(error);
            }         
          }); //ajax
        }); //btn click
      }); //document ready
    </script>
  </body>

</html>