{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Cos-tard 인스타그램 인플루언서 추천 시스템</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/homepage_icon.jpg' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="../../static/css/styles.css"/>
        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                <div class="container px-5">
                    <a class="navbar-brand fw-bold" href="{% url 'home-page' %}">Cos-tard</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'home-page' %}">메인</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'InfluencerList:list-page' %}">리스트</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'analysis:analysis-page' %}">분석</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'recommend:recommend-page' %}">추천</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'about-page' %}">팀소개</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <section class="py-5 bg-white">
                <div class="container px-2 bg-white">
                    <div class="py-4 px-4 px-md-5 mb-5" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; border:">
                        <div class="" style="display: flex; justify-content: left; align-items: left; ">
                            {% comment %} <img src="/static/assets/Influencer_logo/Influencer_logo1.png" alt="" width="300px" height="90px"></img> {% endcomment %}
                            <div class="custom-text" style="font-size: 24px;" >Influencer</div>
                        </div>
                        <div class="my-3 align-items-center" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center fst-italic " style="font-size: 18px;">정다윤</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/2__yun__2.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">정다윤</div>
                                    <div class="" style="font-size: 10px;" >@2__yun__2</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center fst-italic">아랑</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/a_arang_.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">아랑</div>
                                    <div class="" style="font-size: 10px;" >@a_arang_</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>아름송이</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/areumsongee.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">아름송이</div>
                                    <div class="" style="font-size: 10px;" >@areumsongee</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>회사원</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/calarygirl_a.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">회사원</div>
                                    <div class="" style="font-size: 10px;" >@calarygirl_a</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>김습습</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/doublesoup.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">김습습</div>
                                    <div class="" style="font-size: 10px;" >@doublesoup</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>민카롱</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/fallininm.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">민카롱</div>
                                    <div class="" style="font-size: 10px;" >@fallininm</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>햄니</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/hamnihouse.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">햄니</div>
                                    <div class="" style="font-size: 10px;" >@hamnihouse</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>조효진</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/hyojinc_.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">조효진</div>
                                    <div class="" style="font-size: 10px;" >@hyojinc_</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>젤라</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/im_jella_.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">젤라</div>
                                    <div class="" style="font-size: 10px;" >@im_jella_</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>홍영기</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/kisy0729.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">홍영기</div>
                                    <div class="" style="font-size: 10px;" >@kisy0729</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>라뮤끄</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/lamuqe_magicup.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">라뮤끄</div>
                                    <div class="" style="font-size: 10px;" >@lamuqe_magicup</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>레오제이</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/leojmakeup.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">레오제이</div>
                                    <div class="" style="font-size: 10px;" >@leojmakeup</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>상은언니</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/makeup_maker_.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">상은언니</div>
                                    <div class="" style="font-size: 10px;" >@makeup_maker_</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>포니</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/ponysmakeup.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">포니</div>
                                    <div class="" style="font-size: 10px;" >@ponysmakeup</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>유혜주</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/r_yuhyeju.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">유혜주</div>
                                    <div class="" style="font-size: 10px;" >@r_yuhyeju</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>이사배</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/risabae_art.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">이사배</div>
                                    <div class="" style="font-size: 10px;" >@risabae_art</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>씬님</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/ssinnim.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">씬님</div>
                                    <div class="" style="font-size: 10px;" >@ssinninm</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>문이</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/vivamoon.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">문이</div>
                                    <div class="" style="font-size: 10px;" >@vivamoon</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>연두콩</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/yeondukong.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">연두콩</div>
                                    <div class="" style="font-size: 10px;" >@yeondukong</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>혜원</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/yu__hyewon.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">혜원</div>
                                    <div class="" style="font-size: 10px;" >@yu__hyewon</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>소유진</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/yujin_so.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">소유진</div>
                                    <div class="" style="font-size: 10px;" >@yujin_so</div>
                                </div>
                            </div>
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center"><i class="bi bi-person-lines-fill"></i>율리</div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/yulri_0i.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">율리</div>
                                    <div class="" style="font-size: 10px;" >@yulri_0i</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="move_to_top_btn">
                <a href="#"><i class="bi bi-caret-up-fill"></i></a>
            </div>
        </main>
        <!-- Footer-->
        <footer class="bg-black py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Cos-tard</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>