{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Cos-tard 인스타그램 인플루언서 추천 시스템</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/homepage_icon.jpg' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="../../static/css/styles.css"/>
        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const personCards = document.querySelectorAll('.person-card');
        
                personCards.forEach(personCard => {
                    personCard.addEventListener('click', function() {
                        const key = this.getAttribute('id-data');
                        window.location.href = `/analysis/index.html/${key}`; // 분석 페이지 URL로 이동
                    });
                });
            });
        </script>

    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                <div class="container px-5">
                    <a class="navbar-brand fw-bold" href="{% url 'home-page' %}">Cos-tard</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'home-page' %}">메인</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'InfluencerList:list-page' %}">리스트</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'analysis:analysis-page' %}">분석</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'recommend:recommend-page' %}">추천</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'about-page' %}">팀소개</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <section class="py-5 bg-white">
                <div class="container px-2 bg-white">
                    <div class="py-4 px-4 px-md-5 mb-5" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; border:">
                        <div style="display: flex; justify-content: left; align-items: left;">
                            <div class="custom-text" style="font-size: 24px;" >Influencer</div>
                        </div>
                        <div class="my-3 align-items-center" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                            <!-- 여기서부터 인플루언서 카드 그리드입니다. 등급은 10~20만명대:A, 30~40만명대:A+, 50만명이상:S -->
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">정다윤</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A+<br>팔로워수: 39만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/2__yun__2"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://linkbio.co/jungdayun"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=336104951"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/2__yun__2.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">정다윤</div>
                                    <div class="" style="font-size: 10px;">@2__yun__2</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">아랑</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 6.1만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/a_arang_"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://inpk.link/a_arang"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=2968116744"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/a_arang_.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">아랑</div>
                                    <div class="" style="font-size: 10px;">@a_arang_</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">아름송이</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A+<br>팔로워수: 41.9만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/areumsongee"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://link.inpock.co.kr/sellerment"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=469003556"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/areumsongee.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">아름송이</div>
                                    <div class="" style="font-size: 10px;">@areumsongee</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">회사원</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 11.5만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/calarygirl_a"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href=""><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=29457331"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/calarygirl_a.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">회사원</div>
                                    <div class="" style="font-size: 10px;">@arecalarygirl_aumsongee</div>
                                </div>
                            </div>
                            
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">김습습</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 10.7만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/doublesoup"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://youtu.be/qyqgRtsPIkI"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=4475701104"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/doublesoup.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">김습습</div>
                                    <div class="" style="font-size: 10px;">@doublesoup</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">민카롱</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 17.5만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/fallininm"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://youtu.be/oYEO2laWHp0"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=1551988066"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/fallininm.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">민카롱</div>
                                    <div class="" style="font-size: 10px;">@fallininm</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">햄니</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 20.8만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/hamnihouse"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href=""><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=1579839464"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/hamnihouse.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">햄니</div>
                                    <div class="" style="font-size: 10px;">@hamnihouse</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">조효진</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A+<br>팔로워수: 34.9만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/hyojinc_"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://hyolic.com/index.html"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=490239300"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/hyojinc_.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">조효진</div>
                                    <div class="" style="font-size: 10px;">@hyojinc_</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">젤라</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 17.1만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/im_jella_"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="http://freehour.co.kr"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=1483485095"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/im_jella_.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">젤라</div>
                                    <div class="" style="font-size: 10px;">@im_jella_</div>
                                </div>
                            </div>
                            
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">홍영기</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: S<br>팔로워수: 111.8만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/kisy0729"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://linktr.ee/kisyning"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=1239639319"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/kisy0729.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">홍영기</div>
                                    <div class="" style="font-size: 10px;">@kisy0729</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">라뮤끄</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 15.3만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/lamuqe_magicup"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="http://www.equmal.com"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=12885734"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/lamuqe_magicup.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">라뮤끄</div>
                                    <div class="" style="font-size: 10px;">@lamuqe_magicup</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">레오제이</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A+<br>팔로워수: 37.4만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/leojmakeup"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://kko.to/crTwavFxo1"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=1555054356"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/leojmakeup.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">레오제이</div>
                                    <div class="" style="font-size: 10px;">@leojmakeup</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">상은언니</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A+<br>팔로워수: 47.3만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/makeup_maker_"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://youtube.com/@makeup_maker_"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=432834627"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/makeup_maker_.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">상은언니</div>
                                    <div class="" style="font-size: 10px;">@makeup_maker_</div>
                                </div>
                            </div>
                            
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">포니</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: S<br>팔로워수: 886.9만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/ponysmakeup"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href=""><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=545774776"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/ponysmakeup.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">포니</div>
                                    <div class="" style="font-size: 10px;">@ponysmakeup</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">유혜주</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: S<br>팔로워수: 74만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/r_yuhyeju"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="http://link.inpock.co.kr/liajour/"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=301432357"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/r_yuhyeju.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">유혜주</div>
                                    <div class="" style="font-size: 10px;">@r_yuhyeju</div>
                                </div>
                            </div>
                            
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">이사배</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: S<br>팔로워수: 89.5만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/risabae_art"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="http://youtube.com/RISABAE"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=416638723"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/risabae_art.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">이사배</div>
                                    <div class="" style="font-size: 10px;">@risabae_art</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">씬님</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A+<br>팔로워수: 22.8만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/ssinnim"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://linktr.ee/ssinnim"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=1288797716"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/ssinnim.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">씬님</div>
                                    <div class="" style="font-size: 10px;">@ssinnim</div>
                                </div>
                            </div>
                            
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">문이</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: S<br>팔로워수: 73.6만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/vivamoon"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://linkon.id/amazement"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=370080040"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/vivamoon.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">문이</div>
                                    <div class="" style="font-size: 10px;">@vivamoon</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">연두콩</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 13.9만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/yeondukong"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="http://www.youtube.com/yeondukong/"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=477764638"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/yeondukong.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">연두콩</div>
                                    <div class="" style="font-size: 10px;">@yeondukong</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">혜원</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A+<br>팔로워수: 32.6만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/yu__hyewon"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="http://inpk.link/murielle"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=3750608342"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/yu__hyewon.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">혜원</div>
                                    <div class="" style="font-size: 10px;">@yu__hyewon</div>
                                </div>
                            </div>

                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">소유진</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: S<br>팔로워수: 96만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/yujin_so"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://linktr.ee/yujin_so"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=1244405915"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/yujin_so.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">소유진</div>
                                    <div class="" style="font-size: 10px;">@yujin_so</div>
                                </div>
                            </div>
                            
                            <div class="mx-3 mb-3 align-items-center shadow-lg rounded-3 bg-white hoverEffect" style="width: 200px; height: 240px; justify-content: center; align-items: center; display: flex; flex-direction: column;">
                                <div class="blur-overlay2 card shadow border-0 justify-content-center text-center" style="display: flex; flex-direction: column; align-items: center; ">
                                    <div class="d-flex justify-content-center align-items-center fst-italic flex-grow-1">율리</div>
                                    <div class="flex-grow-1" style="font-size: 16px">Grade: A<br>팔로워수: 13.2만명<br>#뷰티</div>
                                    <div class="d-flex justify-content-center pb-3" style="gap: 15px; flex-grow-1">
                                        <div><a href="https://instagram.com/yulri_0i"><i class="bi bi-instagram" style="color: white"></i></a></div>
                                        <div><a href="https://litt.ly/yulri"><i class="bi bi-link-45deg" style="color: white"></i></a></div>
                                        <div><a href="{% url 'analysis:analysis-page2' %}?ig_id=17157849559"><i class="bi bi-clipboard-data" style="color: white"></i></a></div>
                                    </div>
                                </div>
                                <div class="align-items-center" style="display: flex; align-items: center; flex-direction: column;">
                                    <div class="instagramCircle" style="background-image: url('/static/assets/yulri_0i.jpg'), linear-gradient(to right, red, orange);"></div>
                                    <div class="fw-bolder pt-3" style="font-size: 20px;">율리</div>
                                    <div class="" style="font-size: 10px;">@yulri_0i</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="move_to_top_btn">
                <a href="#"><i class="bi bi-caret-up-fill"></i></a>
            </div>
        </main>
        <!-- Footer-->
        <footer class="bg-black py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Cos-tard</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    
</html>