{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Cos-tard 인스타그램 인플루언서 추천 시스템</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/homepage_icon.jpg' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <style>
            .small-image {
                width: 150px;  /* Adjust the width as needed */
                height: auto;  /* Automatically adjust the height to maintain the aspect ratio */
                margin: 10px;  /* Add some spacing between images */
            }
            
        </style>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                <div class="container px-5">
                    <a class="navbar-brand fw-bold" href="{% url 'home-page' %}">Cos-tard</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'home-page' %}">메인</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'InfluencerList:list-page' %}">리스트</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'analysis:analysis-page' %}">분석</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'recommend:recommend-page' %}">추천</a></li>
                            <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'about-page' %}">팀소개</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <section class="py-5 bg-dark">
                <div class="container px-2">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-danger bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clipboard-data"></i></div>
                            <h1 class="fw-bolder">인플루언서 분석</h1>
                            <p class="lead fw-normal text-muted mb-0">어떤 인플루언서가 궁금하신가요?<br>특정 인플루언서를 분석하여 키워드 및 연관 컬러 등의 정보를 시각화하여 보여줍니다</p>
                        </div>
                        <div class="bg-dark bg-gradient rounded-4 p-4 p-sm-5 mt-5">
                            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                                <div class="mb-4 mb-xl-0">
                                    <div class="fs-3 fw-bold text-white">인플루언서를 검색하세요</div>
                                    <div class="text-white-50">Cos_tard가 저장하고 있는 인플루언서를 깊이 분석해보고<br>싶다면 여기에 이름을 넣어서 검색해보세요!</div>
                                </div>
                                <div class="ms-xl-4">
                                    <div class="input-group mb-2">
                                        <input class="form-control" type="text" id="influencerName" placeholder="이름을 입력하세요" />
                                        <button class="btn btn-outline-danger fw-bold" type="button" id="getInfluencerButton">검색</button>
                                    </div>
                                    <div class="small text-white-50">검색 버튼을 누르고 조금만 기다려주세요..!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-12 col-xl-12" style="display: flex; justify-content: center;">
                                <div class="mt-3 text-start rounded-3 text-white bg-gradient fw-bold shadow-lg" id="searchResults1">
                                    <div id="influencerfixResult" style="line-height: 250%"><!-- 인플루언서 정보가 이곳에 표시됩니다 --></div>
                                </div>
                                <div class="mt-3 text-center rounded-3 text-white bg-gradient fw-bold shadow-lg" id="searchResults2" style="position: relative;">
                                    <div id="influencerinfoResult" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); line-height: 200%;"><!-- 인플루언서 정보가 이곳에 표시됩니다 --></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12">
                                <div class="mt-3 text-center rounded-3 bg-black text-white bg-gradient" id="searchResults3">
                                    <div id="chart-container-01" class="shadow-lg"><!-- 차트가 이곳에 표시됩니다 --></div>
                              </div>
                                <!-- 여기서부터 그리드 및 반응형 해야함 -->
                                <div class="mt-3 text-center rounded-3 bg-black text-white bg-gradient" id="">
                                    <div id="chart-container-02" class="shadow-lg"><!-- 차트가 이곳에 표시됩니다 --></div>
                                </div>
                                <div class="mt-3 text-center rounded-3 bg-black text-white bg-gradient" id="" style="padding: 30px;">
                                    <div id="followerResult"><!-- 팔로워 정보가 이곳에 표시됩니다 --></div>
                                </div>
                                <div class="mt-3 text-center rounded-3 bg-black text-white bg-gradient" id="" style="padding: 30px;">
                                    <div id="feedResult" style="border: 1px solid red;"><!-- 피드 미리보기가 이곳에 표시됩니다 --></div>
                                </div>
                                <div class="mt-3 text-center rounded-3 bg-black text-white bg-gradient" id="" style="padding: 30px; display: flex;">
                                    <div id="influencercount_textResult" style="border: 1px solid red; flex: 1;"><!-- 게시글 토픽이 이곳에 표시됩니다 --></div>
                                    <div id="influencercounthashResult" style="border: 1px solid red; flex: 1;"><!-- 해쉬태그 토픽이 이곳에 표시됩니다 --></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="move_to_top_btn">
                <a href="#"><i class="bi bi-caret-up-fill"></i></a>
            </div>
        </main>
        <!-- Footer-->
        <footer class="bg-black py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Cos-tard</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            // 검색창에서 클릭 안하고 엔터해도 검색되게.
            var input = document.getElementById("influencerName");
            input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("getInfluencerButton").click();
                }
            });
        </script>
        <script>
            $(document).ready(function() {
                $("#getInfluencerButton").click(function() {
                    var influencerName = $("#influencerName").val();
                    $.ajax({
                        type: "POST",
                        url: "/analysis/get_influencer",  
                        dataType:'json',
                        contentType:'application/json',
                        data: JSON.stringify({
                            influencer_name: influencerName
                        }),
                        beforeSend: function() {
                            $('html').css("cursor", "wait"); //마우스 커서를 로딩 중 커서로 변경
                        },
                        complete: function() {
                            $('html').css("cursor", "auto"); //마우스 커서를 원래 기본 커서로 변경
                        },
                        success: function(data) {
                            console.log(data);
                            var userfix = data.influencer_data;
                            var userinfo = data.influencer_data_details;
                            var follower_trend= data.follower_trend;
                            var image_link= data.image_link;
                            var count_text= data.count_text;
                            var count_hashtag= data.count_hashtag;
                          
                          
                            var fixHTML = "<인플루언서 정보><br>";

                            fixHTML += "닉네임: " + userfix.userid + "<br>";
                            fixHTML += "이름: " + userfix.username + "<br>";
                            fixHTML += "웹사이트: " + userfix.website + "<br>";
                            fixHTML += "소개글: " + userfix.biography;
                            $("#influencerfixResult").html(fixHTML);  

                            var infoHTML = "<인플루언서 정보><br>";
                            infoHTML += "게시물 수: " + userinfo.media_count + "<br>";
                            infoHTML += "팔로워 수: " + userinfo.followers_count + "<br>";
                            infoHTML += "팔로잉 수: " + userinfo.follows_count;
                            $("#influencerinfoResult").html(infoHTML);

                            // 검색 결과(왼쪽그리드) 띄울때 DOM 객체 이용해서 css 조정
                            var searchResults1 = document.getElementById('searchResults1');
                            searchResults1.style.padding = "30px 70px 30px 70px";
                            searchResults1.style.flex = "2";
                            searchResults1.style.marginRight = "10px";
                            searchResults1.style.backgroundColor = "#9a68af";

                            // 검색 결과(오른쪽그리드) 띄울때 DOM 객체 이용해서 css 조정
                            var searchResults2 = document.getElementById('searchResults2');
                            searchResults2.style.padding = "50px";
                            searchResults2.style.flex = "1";
                            searchResults2.style.backgroundColor = "#9a68af";


                            // 팔로워 추이 그래프
                            Highcharts.chart('chart-container-01', {
                                            
                                            title: {
                                                text: 'Follower trend'
                                            },
                                            xAxis: {
                                                categories: follower_trend.xData
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Total # of followers'
                                                }
                                            },
                                            series: [{
                                                name: '# of followers',
                                                data: follower_trend.yData
                                            }]
                                        });

                                // 검색 결과 그래프 띄울때 DOM 객체 이용해서 css 조정
                                document.getElementById('chart-container-01').style.width = "100%";
                                document.getElementById('chart-container-01').style.height = "500px";
                                document.getElementById('chart-container-01').style.padding = "50px";
                            

                            // 팔로워 증가율 그래프
                            Highcharts.chart('chart-container-02', {
                                
                                            title: {
                                                text: 'Follower increase'
                                            },
                                            xAxis: {
                                                categories: follower_trend.xData
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Growth rate of followers'
                                                }
                                            },
                                            plotOptions: {
                                                area: {
                                                    fillOpacity: 0.2, 
                                                    threshold: 0,  
                                                    marker: {
                                                        enabled: false
                                                    }
                                                }},
                                            series: [{
                                                name: 'followers increase rate',
                                                data: follower_trend.growth_rates
                                            },
                                            {
                                                name: '비교군 데이터임',
                                                type : 'area',
                                                color: 'grey', 
                                                fillColor: 'rgba(192, 192, 192, 0.2)',
                                                data: follower_trend.growth_rate_average
                                            }
                                        ]
                                        });
                                // 검색 결과 그래프 띄울때 DOM 객체 이용해서 css 조정
                                document.getElementById('chart-container-02').style.width = "100%";
                                document.getElementById('chart-container-02').style.height = "500px";
                                document.getElementById('chart-container-02').style.padding = "50px";

                            // 여기서부터 정보들 띄우는 차트 밑에 그리드들
                            var followerHTML = "팔로워 정보:<br>";
                            followerHTML += "팔로워 증가율 평균: " + follower_trend.average_growth.toFixed(3) + "% <br>";
                            followerHTML += "대조군 팔로워 증가율 평균: " + follower_trend.average_average_growth.toFixed(3) + "% <br>";
                            if (follower_trend.average_growth > follower_trend.average_average_growth) {
                                followerHTML += "다른 인플루언서들 보다 팔로워 증가율이 높습니다! " + "<br>";
                            } else {
                                followerHTML += "다른 인플루언서들 보다 팔로워 증가율이 낮습니다.. " + "<br>";
                            }
                            followerHTML += "팔로워가 가장 많이 증가한 날: " + follower_trend.max_growth_date + "<br>";
                            $("#followerResult").html(followerHTML);

                            var imageHTML = "피드 미리보기:<br>";
                            for (var i = 0; i < image_link.length; i++) {
                                if (image_link[i].includes("_video_dashinit.mp4")) {next}
                                imageHTML += "<img src='" + image_link[i] + "' alt='Instagram Image' class='small-image'>";
                            }
                            $("#feedResult").html(imageHTML);

                            var countHTML = "인플루언서 게시글 토픽:<br>";
                            countHTML += "TOP 1: " + count_text[0].key + "<br>";
                            countHTML += "TOP 2: " + count_text[1].key + "<br>";
                            countHTML += "TOP 3: " + count_text[2].key + "<br>";
                            countHTML += "TOP 4: " + count_text.count_cap4 + "<br>";
                            countHTML += "TOP 5: " + count_text.count_cap5;
                            $("#influencercount_textResult").html(countHTML);
                            
                            var hashHTML = "인플루언서 해쉬태그 토픽:<br>";
                            hashHTML += "TOP 1: " + count_hashtag.tags1 + "<br>";
                            hashHTML += "TOP 2: " + count_hashtag.tags2 + "<br>";
                            hashHTML += "TOP 3: " + count_hashtag.tags3 + "<br>";
                            hashHTML += "TOP 4: " + count_hashtag.tags4 + "<br>";
                            hashHTML += "TOP 5: " + count_hashtag.tags5;
                            $("#influencercounthashResult").html(hashHTML);
                        },
                        error: function() {
                            $("#influencerinfoResult").text("오류가 발생했습니다.");
                        }
                    });
                });
            });
        </script>

    </body>
</html>